
#headerbar {
    border: 2px solid blue;
    padding: 4px;
    height: 160px;
    margin-left: auto;
    margin-right:auto;
}

#sitecontent {
    border: 2px solid red;
    padding: 10px;
    height: 750px;
}

#footer {
    border: 2px solid green;
    padding: 7px;
    height: 70px;
}

#logo {
   width: 330px;
   height: 150px;
   margin-left: auto;
   margin-right:auto;
}

#paintlogo {
   width: 100px;
   height: 100px;
   margin-left: auto;
   margin-right:auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.left {
    display: block;
    margin-left: 0%;
    margin-right: 0%; 
    width: 40%
}

.right {
    display: block;
    margin-left: 60%;
    margin-right: 0%;
    width: 40%
}

#paints {
   width: 500px
   height: 400px
   margin-left: auto;
   margin-right:auto;  
}

#faces {
    width: 500px
   height: 400px
   margin-left: auto;
   margin-right:auto;     
}

#towers {
    width: 500px
   height: 500px
   margin-left: auto;
   margin-right:auto;  
}
#copyright {
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	bottom: 0px;
	width: 100%;
}

#container {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin: auto;
max-width: 1000px;
}

#blue {
background-color: lightgray;
height: 500px;
width: 500px;    
}

#red {
background-color: darkgoldenrod;
height: 500px;
width: 500px;
}

#green {
background-color:darkcyan;
height: 500px;
width: 500px;    
}

#yellow {
background-color:darkgreen;
height: 100px;
width: 100px;    
}

#purple {
background-color:lightcoral;
height: 100px;
width: 100px;    
}   
